body {
	margin:0;
	padding:0;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.nav-menu {
	li {
		border-top: 1px dashed #797979;
	    border-right: 1px dashed #797979;
	    padding: 5px 0px;
	}
}

.container {
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	font-weight: normal;
	color: #222222;
	background-color:#d7d7cd;
	margin:0;
	padding:0;

	.title {
		margin:0px auto;
		font-family: 'Verdana';
		font-family: impact;
		font-size:22px;
		text-decoration: none;
		color:#41545d;
	}

	.subtitle {
		text-decoration: none;
		color:#41545d;
		font-family: 'Verdana';
		font-family: impact;
		letter-spacing: 1px;
		font-size: 18px;
		margin-bottom:0;
	}

	.epigraph {
		font-size: 15px;
		color:#222;
		font-family:'Verdana';
		font-weight: normal;
	}

	button {
		background-color:#000745;
		padding:5px 10px;
		min-width: 150px;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		border:none;
		cursor: pointer;
		margin-top:5px;
	}

	.poll {
		.data-table {
			text-align: center;
			margin-top:30px;

			.poll-results {
				border:1px dashed silver;
				text-align: left;
				font-family: 'Verdana';
				font-size: 14px;
				text-align: center;

				caption {
					margin:10px 0 15px;
					font-size:16px;
					color:#41545d;
				}

				thead {
					background-color: darkgray;
					color:black;
					font-weight: light;

					th {
						padding:5px;
						text-transform: uppercase;
					}
				}

				tbody {
					th {
						padding:5px;
						text-transform: uppercase;
					}

				}

			}
		}
		
		hr {
			margin-right: 20px;
		}

		.table-border {
        	border: 2px solid gray;
        	margin-bottom: 15px;
        	background: #eaeaea;
        	padding:10px;

        	h3 {
        		margin:0 0 10px;
        		padding:0;
        	}
		}

		ul {
			list-style: none;
			padding:0;
			margin:0;

			li {
				padding-bottom: 10px;
			}
		}

		.info-user {
			.gender {
				display: block;
				width: 100%;
				margin-bottom: 20px;

				label {
					font-size: 14px;
				}
			}

			.name,
			.mail,
			.r-mail {
				display: block;
				width: 100%;
				margin-bottom: 15px;

				label {
					font-size: 14px;
					display: block;
					margin-bottom: 5px;
				}
			}				
		}

	}

	.thanks {
		.next-poll {
			font-family: 'Verdana';
			font-size:16px;
			color:#41545d;
			margin-top:10px;

			a {
				font-family: 'Verdana';
				text-decoration: none;
				font-weight: normal;
			}
		}

		.msg {
			font-size:16px;
			font-weight: bold;
			color:black;
			text-align: center;
			background-color:palegoldenrod;
			padding:10px;
			margin:20px 15px 0 0;
			font-family: 'Helvetica';
		}

		.data-table {
			text-align: center;
			margin-top:30px;

			.poll-results {
				border:1px dashed silver;
				text-align: left;
				font-family: 'Verdana';
				font-size: 14px;
				text-align: center;

				caption {
					margin:10px 0 15px;
					font-size:16px;
					color:#41545d;
				}

				thead {
					background-color: darkgray;
					color:black;
					font-weight: light;

					th {
						padding:5px;
						text-transform: uppercase;
					}
				}

				tbody {
					th {
						padding:5px;
						text-transform: uppercase;
					}

				}

			}
		}
	}

	.index {

		p {
			margin-top:5px;
		}

		.content {
			margin:0;
			padding:0;
			
			.title {
				clear: left;
				color: #41545d;
				margin-top: 5px;
				padding-top: 1em;
				font: 24px verdana;
				font-family: impact;
				margin-bottom: 15px;
				text-decoration: none;
			}

			.midwidth {
				height: 1px;
			}

			.clear {
				clear:left;
			}

			a {
				text-decoration: none;
				color: #2471A3;
			}

			.news {
				width: 135px;
				background-color:#eee;
				display: inline-block;
				position:relative;
				padding:5px;
				height: 300px;

				.news-title {
					margin:0;
					vertical-align: top;
					display:inline-block;

					.img {
						height: 119px;
						padding: 0;
						margin-right: 5px;
						display: inline-block;
					} 

					img {
						float:left;
						padding:0px;
						margin:0 5px 15px 0;
					}

					h3 {
						font-size: 14px;
					    font-weight: bold;
					    color: #444;
					    display: inline;
					}
				}

				.img {
					display: block;
					width: 120px;
					margin:10px 0;

				}

				.text {
					vertical-align: top;
					display: inline-block;

					p {
						margin:0;
					}

					span {}
				} 				
			}

			.red {
				margin-top:20px;
				border-top:1px solid #ccc;

				a {
					display:block;
					margin:10px 0;
				}

				h6 {
					font-weight: bold;
					margin:20px 0;
					font-size: 18px;

					img {
						margin:0 10px;
					}
				}
			}
		}

		:root {
			.content{
				.news{
					float:left;
					width: 30%;
					margin:10px;
					
					.news-title {
						float: left;
						width: 128px;
						display: inline;
					}
				}

				.img {
					float:left;
					width: 128px;
					display: inline-block;
				}

				.text {
					float:left;
					width: 128px;
					display: inline;
				}

			}
		}		
	}

	.entradas {
		.term-condition {
			margin:0;
			padding:0;
			font-size: 14px;
			font-family:'Times New Roman', 'Times', serif;
			list-style: none;

			h3 {
				font-size: 20px; 
				font-family: Times New Roman, Times, serif;
				margin-bottom: 0px;
			}

			ul {
				padding:0 10px;

				li {
					margin-bottom: 10px;
					list-style: none;
				}
			}
		}

		.price {
			font-size: 13px; 
			font-family: Times New Roman, Times, serif;
			text-align: left;

			caption {
				font-size: 18px;
				text-align: left;
				padding:10px 0 5px;
			}

			th {
				font-size: 13px;
				padding:10px 5px;
			}

			td {
				font-size:14px;
				padding:5px;
			}
		}

		
	}

	.noticias {
		min-height: 680px;
		margin:0 auto;

		img {
			width: 200px;
			display: block;
			margin: auto;
		}

		h1 {
			font-family: arial;
    		font-size: 25px;
    		width: 355px;
		    text-align: center;
		    margin:0 auto;
		    padding: 50px 0 30px;
		}

		p {
			font-family: arial;
    		font-size: 20px;
    		width: 355px;
		    text-align: center;
		    margin: 35px auto;
		    background-color: white;
		    padding: 20px;
		}

		button {
			display: block;
			margin: auto;
		}
	}
}





